html{
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    
}

div{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #555;
    margin-top: 60px;
}

h1{
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120%;
}
img{
    margin-left: 30%;
    
}